#hero {
  height: 100vh;
  background: url(../images/hero.png) no-repeat center center/cover;
}

#hero .hero-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 750px;
}

#hero .hero-text {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.1em;
}

#hero .hero-subtext {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

#hero .shop-now-button {
  background: #f9a602;
  color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 55px;
  width: 215px;
  height: 55px;
  border-radius: 27.5px;
}
