.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: transparent;
  width: calc(100% - 80px);
  color: #fff;
  padding: 0 40px;
  text-transform: uppercase;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 40px;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
}

.logo-container .logo-text {
  font-family: "Playfair Display SC", serif;
  text-transform: capitalize;
  font-size: 48px;
  letter-spacing: 0.1em;
}

.logo-container .logo-subtext {
  font-family: "Josefin Sans", sans-serif;
  font-size: 11.5px;
  letter-spacing: 0.1em;
}
